html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}

body {
    font-family: "Lato",sans-serif;
    background-color: rgb(14, 13, 13);
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: url(../img/Preloader_3.gif) center no-repeat #fff;
}

.navbar-brand img {
    max-height: 200%;
    height: 100%;
    width: auto;
    margin: 0 auto;
    object-fit: contain;
}

.navbar-default {
    border-color: rgb(2, 24, 23);
    background-color: rgb(0, 12, 11);
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #45A29E;
}

.navbar-default .navbar-collapse {
    border-color: #C5C6C7;
}

.navbar-default .navbar-toggle {
    border-color: #45A29E;
    background-color: #45A29E;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #C5C6C7;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #45A29E;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #45a29e;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #45A29E;
    background-color: #1F2833;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: black;
    background-color: #c5c6c7;
}
.card{
    width:90%;
}
@media only screen and (max-width: 768px) {

    .navbar-default {
        /*padding: 12px 0;*/
        border: 0;
        background-color: rgba(102, 252, 241, 0.9);
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default .navbar-shrink {
        padding: 5px 0;
        background-color: rgba(102, 252, 241, 0.9);
    }

    .navbar-default .navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}


.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(102, 252, 241); /* IE */
    background: rgba(102, 252, 241, 1); /* NON-IE */
}

.first {
    position: relative;
}

.background-image-main {
    position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url(../img/BG5.jpg);
    background-repeat: no-repeat;
	background-size:contain;
    z-index:1;
    background-position: center;
}

.main{
    padding-top: 300px;
    padding-left:  100px;
    color : #66fcf1 ;
    margin-left: 9%;
}

.main-heading{
    height : 40vh; width: 100%;
}

.sub-main{
    width:100%;
    height:58vh;
}

.header-divs {
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.beta-home-button {
    border-radius: 15px;
    border: 1px solid #66fcf1;
    padding: 10px 64px;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 16px 2px transparent;
    background-color: #66fcf1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .4s;
}

.buttons {
    display: inline-flex;
    align-items: center;
    padding: 1% 0% 0% 15%;
    justify-content: space-between;
    width : auto;
    margin-top: 14vh;
}

@media only screen and (max-width: 550px){
    .beta-home-button {
        font-size: 17px;
        padding: 3px 21px;
    }
    /*.buttons {
        margin-left: 10px;
        margin-top : 2px;
    }*/
    .first-line {

        font-size: 6vw;
    }
    .second-line {

        font-size: 6vw;
        color: #800000;
    }
    .main {
        padding-left: 30px;
    }
    /*.buttons {
        padding-left: 10px;
    }*/
}


div {
    display: block;
}

.first-line {
    font-size: 50px;
    font-weight: 600;

}

.second-line {

    font-size: 40px;
    font-weight: 450;
    color: #45a29e;
}

.about-troika {
    font-size: 6.4vw;
    text-align: center;
    font-weight: 300;
    font-family: Shadows Into Light ;
    margin-top: -10px;
    color: #45a29e;
}

.about {
    position: relative;
    width:100%;
    padding: 75px 100px;
    border-top: 6px solid #45A29E;
    border-bottom: 6px solid #45A29E;
    border-radius: 20px;
    min-block-size: 25vw;
}

.background-image-about {
    position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

.about-us{
    font-size: 2.5vw;
    font-weight: 600;
    text-align: center;
    color:#66FCF1 ;
}

.about-us-text{
    text-align: justify;
    font-size: 1.5vw;
    color: skyblue;
}

@media only screen and (max-width: 650px){
    .about-us-text{
        font-size : 15px;
    }
    .about-us{
        font-size:24px ;
        font-weight: 1000;
    }
    .about-troika{
        font-size: 34px;
    }

}

/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
    .about {
        padding: 90px 50px;
    }
}

@media (max-width: 850px) {
    .container1 h2 {
        font-size: 20px;
    }

    .container1 p {
        font-size: 10px;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

/* Some left and right padding inside the container */
.container1 {
    padding: 0 16px;
    text-align: center;
    color: #66FCF1;
    background-color: rgba(14, 13, 13, 0.5);
}

/* Clear floats */
.container1::after, .row::after {
    content: "";
    clear: both;
    display: table;
    text-align: center;
}

.title {
    color: #66FCF1;
}

.contact {
    position: relative;
    text-align: center;
    margin-top: 18px;
    border-top: 6px solid #45A29E;
   /* border-bottom: 6px solid #45A29E;*/
    border-radius: 20px;
}

.background-image-contact {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:url(../img/BG11.jpg);
    background-repeat: no-repeat;
	background-size:contain;
    z-index:1;
    background-position: center;
    /* background-attachment: fixed; */
    background-position-y: 30px;
	-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(1px);
}

.content {
    position: relative;
    z-index: 2;
}

.contact-head {
    font-size: 6.4vw;
    text-align: left;
    font-weight: 600;
    font-family: "Lato",sans-serif ;
}

.foot {
    background-color: #C5C6C7;
    color: #ffffff;
    padding: 41px 80px;
}

@media (max-width: 650px) {
    .foot {
        padding: 29px 80px;
    }
}

.social {
    position: fixed;
    top: 55%;
    width: 50px;
    z-index: 10;
  }
  .social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background: rgba(69, 162, 158, 0.36);
    width: 307px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .social ul li:hover a {
    color: #000;
  }
  .social ul li:hover i {
    color: #66FCF1;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .social ul li i {
    margin-left: 10px;
    color: #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  @media (max-width: 650px) {
    .social ul li i {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
  }
#map {
   width: 70%;
   /* height: 440px; */
   background-color: transparent;
   border : solid 5px skyblue;
   border-radius: 10px;
   margin-bottom: 50px;
   padding-top: 5px;
   padding-bottom: 0px;
   padding-right: 0px;
   padding-left: 0px;
 }


 #ops{
    margin-right: 20px;
 }

 #opss{
    margin-right: 20px;
 }

.contact-us {
    font-weight: 400;
    font-size: 1.9vw;
    color: #66FCF1;
 }

.contact-us-sub {
    font-size: 1.5vw;
    color: skyblue;
 }

.foot{
    font-size: 1.2vw;
    background-color: #1F2833;
    padding-bottom: 5px;
    padding-top: 6px;
    font-weight: 500;
}

.contact-head {
    color : #45A29E;
    padding-top: 40px;
}

 @media only screen and (max-width: 650px){
    .contact-us{
        font-size: 18px;
        font-weight: 800;
    }
    .contact-us-sub{
        font-size: 16px;
    }
    .foot{
        font-size: 16px;
    }
    .contact-head{
        font-size: 34px;
    }
 }

 #blabla{
    margin-top: 10px;
    font-color:#000000;
    font-weight: 200;
 }

 #uff{
       
       position: absolute;
    left: 30%;
    top: 30%;

    height: 320px;
    width: 512px;
     /*display: block;
     /*margin-top: auto;
  /* margin-left: auto;
   margin-right: auto;
    max-height: 100%;
    max-width: 100%;*/
    /*align-self: center;*/
    transition: transform .2s;



 }

 #uff:hover {
    transform: scale(1.20); 
}
